numpy
scipy
matplotlib
seaborn
tqdm
pyyaml
types-PyYAML

opencv-python
scikit-learn
torch==2.1.0+cu121
torchvision==0.16.0+cu121
tensorboard
lightning==1.9.5

black
flake8
mypy
isort

jupyter
jupyterlab
jupyterlab-vim
ipywidgets
